body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #33334d;
  margin-top: 100px;
}

.container h1 {
  text-align: center;
  color: white;
  font-family: "Indie Flower", cursive;
}

.container h2 {
  text-align: center;
  color: white;
  font-size: 17px;
}

#drum-machine {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 50px 0 50px 0;
}

#drum-pads {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-evenly;
  grid-gap: 20px;
}

#display {
  display: block;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  body {
    margin-left: 70px;
  }

  #display {
    margin: 0px 0px 0px 100px;
  }
}
